<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Setup -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Title (Dynamic Flask/Jinja) -->
    <title>
        {% block title %}
        Irvin Pedraza Avila | RF Engineer | Telecom Pre-Sales Specialist
        {% endblock %}
    </title>

    <!-- SEO Meta Tags -->
    <meta name="description"
    content="Telecom Pre-Sales Engineer specialized in LTE and 5G interference analysis, Spectrum Optimization, KPI analytics and Python automation.">

    <meta name="keywords"
    content="Irvin Pedraza Avila, RF Engineer, Telecom Engineer, LTE, 5G, Spectrum Optimization, Python, Pre-Sales Engineer">

    <meta name="author" content="Irvin Pedraza Avila">
    <meta name="creator" content="Irvin Pedraza Avila">
    <meta name="robots" content="index, follow">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{global_["last_name"]}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Work Expertice</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Education</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    
    
    {%block content%}{%endblock%}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>